In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.DataFrame(np.random.randn(5, 10))
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.770061,-0.972757,0.356423,-1.856671,-0.513761,0.495194,-0.978780,-0.669492,0.650596,-2.838625
1,0.504922,1.530797,1.256014,-0.182444,-1.366869,-0.710806,-0.417304,0.226614,-0.511290,0.357699
2,0.481491,-1.519298,0.338951,-0.971601,0.230688,2.236022,-0.769103,-0.492728,-0.627132,0.242883
3,0.995555,-1.065676,-0.508456,1.177786,-1.311897,0.769975,-1.617916,-0.532556,1.607755,-1.502769
4,-1.066581,-1.641023,-1.518961,0.255180,-1.370093,0.696172,1.197505,-0.703924,-1.048270,0.743251

In [10]:
df[0].apply(lambda x: x+5)

0    5.770061
1    5.504922
2    5.481491
3    5.995555
4    3.933419
Name: 0, dtype: float64