___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [23]:
import numpy as np
import pandas as pd
import lxml
import html5lib

## CSV

### CSV Input

In [24]:
df = pd.read_csv('example')
df

       a     b     c     d
0  False  True  True  True
1   True  True  True  True
2   True  True  True  True
3   True  True  True  True

In [25]:
df = df>0
df.to_csv('example', index=False)

In [27]:
df = pd.read_csv('example')
df

       a     b     c     d
0  False  True  True  True
1   True  True  True  True
2   True  True  True  True
3   True  True  True  True

In [32]:
data = pd.read_html('chapter1.html')
data[0]

,PALAVRA-CHAVE,TIPO,BYTES,INTERVALO,FORMATO
0,char / signed char,Caracter,1,-128 a 127,%c
1,unsigned char,Caracter sem sinal,1,0 a 255,%c
2,short / short int / signed short / signed shor...,Inteiro curto com sinal,2,â32768 a 32767,%hi ou %hd
3,unsigned short / unsigned short int,Inteiro curto sem sinal,2,0 a 65535,%hu
4,signed int / signed,Inteiro com sinal,2,-32768 a 32767,%i ou %d
5,unsigned / unsigned int,Inteiro sem sinal,2,0 a 65535,%u
6,long / long int / signed long / signed long int,Inteiro com sinal,4,â2147483648 a 2147483647,%li ou %ld
7,unsigned long / unsigned long int,Inteiro sem sinal,4,0 a 4294967295,%lu
8,long long / signed long long / long long int /...,Inteiro muito lingo com sinal,8,â2+63 a 2+63 â1,%lli ou %lld
9,unsigned long long / unsigned long long int,Inteiro muito lingo sem sinal,8,0 a 2+64 â1,%llu
10,float,Ponto flutuante simples,4,3.4 X 10-38 a 3.4 X 10+38,%f ou %F
11,double,Ponto flutuante em precisao dupla,8,1.7 X 10-308 a 1.7 X 10+308,%lf ou %lF
12,long double,Ponto flutuante em precisÃ£o estendida,16,3.4 X 10-4932 a 3.4 X 10+4932,%Lf ou %LF

### CSV Output

In [ ]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [ ]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

### Excel Output

In [ ]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [ ]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
df[0]

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('data', engine)

In [ ]:
sql_df = pd.read_sql('data',con=engine)

In [ ]:
sql_df

# Great Job!