In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn, randint

In [10]:
outside = ['G1' if i<3 else 'G2' for i in range(6)]
inside = [1, 2, 3] * 2
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [12]:
df

             A         B
G1 1  0.653108  0.957419
   2  0.987410 -0.420334
   3  0.643686 -0.655291
G2 1 -0.350557 -1.061759
   2  0.285254 -0.420318
   3  0.940575  0.033295

# Pandas Groupby

In [14]:
df.describe()

              A         B
count  6.000000  6.000000
mean   0.526579 -0.261165
std    0.498214  0.695500
min   -0.350557 -1.061759
25%    0.374862 -0.596552
50%    0.648397 -0.420326
75%    0.868708 -0.080108
max    0.987410  0.957419